<!DOCTYPE html>
<html>
  <head>
    <title>HUMANS FOR SALE</title>
      <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <!-- insert shit here -->
    {{#users}}
      <a href="/user/{{id}}" class="userBox">
        <img src={{avatar}}></img>
        <p class="nameField">{{name}}</p>
        {{#job}}
          <p class="jobField">{{job}}, {{company}}</p>
        {{/job}}
        {{^job}}
          <p class="jobSearch">Available for hire</p>
        {{/job}}
      </a>
    {{/users}}
  </body>
</html>
